body{
    background-color: #341238;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: fixed;
    color: #d5ceda;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    font-weight: bold;
    padding: 30px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-bottom: 20px;
}

.pic {
    margin: 30px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.1)
    }
}

.guessed, .left, .wins, .losses {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    height: 80px;
}

.card {
    margin: 30px;
    background: rgba(76, 0, 80, 0.3);
    padding: 0px;
}

.card-body {
    padding: 0px;
    margin-top: 30px;
}

button {
    background-color: #d5ceda;
    margin: 30px;
}

button:hover {
    font-size: 17px;
}

button:focus {
    outline: 0;
}

.answers {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}